{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
    <p class="text-justify; mx-auto my-5">{{destination.name}}</p>
    <p class="text-justify; mx-auto my-5">{{destination.description}}</p>
    <p class="text-justify; mx-auto my-5">{{destination.activities}}</p>
    <p class="text-justify; mx-auto my-5"><img src="{{destination.pretty_picture.url}}" class="col-lg-12 col-md-12 col-s-12 mx-auto my-5"></p>

    <div>

    <h1 id="all" class="text-justify; mx-auto my-5" style="text-decoration-line:underline; font-family: cursive; text-transform: capitalize"> Visiting season: {{destination.optimal_visiting_season}}</p>
    </h1>
</div>
        <button class="btn btn-secondary btn-block" style="background-color: gray"> <a href="{% url 'destination-update' destination.id %}" style="color: white"> </small>Update</a></button>
    </a>
    <br>
   
        <button class="btn btn-secondary btn-block" style="background-color: gray">  <a href="{% url 'destination-delete' destination.id %}" style="color: white"> </small>Delete </a></button> 
    </a>
{% endblock content %}